.primary-bg{
    background-color: #80b480;
}

.secondary-bg{
   background-color: #a0bfb9;
}

.offwhite-bg{
    background-color: #f5f5f5;
}

.white-bg{
    background-color: #ffffff;
}

.grey-bg{
    background-color: #c0cfd0;
}

.white-txt{
    color: #f3f3f3;
}

.black-txt{
    color: #141414;
}